<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ShopifyApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Tailwind CSS and Fonts -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <!-- JavaScript Importmap -->
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50"> 
      <%= yield %>  
  </body>
</html>
